.login{
    display : flex;
    padding : 70px;
    flex-direction: column;
    border : 1px solid #dfdfdf;
    border-radius: 20px;
}

#loginForm{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
}

#inputID{
    height: 30px;
    margin-top : 5px;
}

.loginSubmit{
    margin-bottom: 10px;
}